[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/plone-4.3.x.cfg

package-name = collective.quickupload
package-extras = [test]
eggs =
    plone4.csrffixes
test-eggs =
parts +=
    test
    omelette
    zopepy
versions = versions
plone-series = 4.3

[test]
recipe = zc.recipe.testrunner
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']
eggs =
    ${buildout:package-name} ${buildout:package-extras}
    ${buildout:eggs}
    ${buildout:test-eggs}

# plone.app.testing now imports from Products.CMFPlacefulWorkflow, which
# is often not installed because no explicity dependency is declared.
# We now always install the Plone egg in order to have the full Plone stack ready.
# https://github.com/plone/plone.app.upgrade/commit/b6a0f6e8865e94b53ff9f7f68385774fa7d5ab02
    Plone

[omelette]
recipe = collective.recipe.omelette
eggs =
    ${instance:eggs}
    ${test:eggs}


[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[versions]
# Test with csrffixes.
plone4.csrffixes = 1.0.8
plone.protect = 3.0.16
plone.keyring = 3.0.1
plone.locking = 2.0.8
lxml = 2.3.6
